.Header-container {
  background-color: #2c3e50; /* Темный фон */
  padding: 20px 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  font-family: 'Arial', sans-serif;
}

.Header h1 {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1;
}

.Header a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.Header a:hover {
  color: #ecf0f1; /* Легкий оттенок при наведении */
}

